.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #daded4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7f877f;
  font-size: 20vw;
  font-family: pixel-font;
}
