@font-face {
  font-family: pixel-font;
  src: url(../fonts/VT323-Regular.ttf);
}

html,
body,
#root,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.play-button {
  position: relative;
  width: auto;
  display: inline-block;
  color: #7f877f;
  text-decoration: none;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 13px;
  border: solid 1px #9b8f81;
  background: #daded4;
  text-align: center;
  font-family: pixel-font;
  font-size: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #9b8f81;
  -moz-box-shadow: 0px 6px 0px #9b8f81;
  box-shadow: 0px 6px 0px #9b8f81;
}

.play-button:active {
  -webkit-box-shadow: 0px 2px 0px #6a4f4b;
  -moz-box-shadow: 0px 2px 0px #6a4f4b;
  box-shadow: 0px 2px 0px #6a4f4b;
  position: relative;
  top: 4px;
}
